.product{
  background-color: #252424;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 350px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s, box-shadow 0.5s, background-color 0.8s;
}

.product:hover{
  background-color: #92929a;
}

.product p{
  transition: font-size 0.5s, color 0.8s;
}

.product:hover{
  transform: translate(5px, -10px);
  box-shadow: 8px 8px 10px #dedede;
}

.product:hover p{
  color: black;
  font-size: 1.3em;
}
